.hero-section {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imagens/fachada20salgueiro.jpg') no-repeat center center/cover;
            color: white;
            padding: 100px 0;
        }
